<h1 class="mt-4">Will and Testament on BlockChain</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p> Electronic wills on a blockchain (aka “Crypto-Wills”) could allow for a person to specify who they wish to leave their possessions to, how, and with reassurance that the will would be safe and secure.<br>
     Rather than being on a piece of paper which could get lost or tampered with, the will could be conveniently created and stored on a blockchain.</p>

<p>Your registered email: <%= user.email %></p>


<a href="/users/logout" class="btn btn-secondary" style ="float:inline-end;">Logout</a>


<form action="/delete" method="POST">
    <p>If you would like to unsubscribe, Please click below</p>
    <button type="submit">Unsubscribe</button></form>
    
<section class="services1 cid-rPefEYU6du" id="services1-f">
   
    <!--Overlay-->
    
    <!--Container-->
    <div class="container">
        <div class="row justify-content-center">
            <!--Titles-->
            <div class="title pb-5 col-12">
                <h2 class="align-left pb-3 mbr-fonts-style display-1">
                    Services
                </h2>
                
            </div>
            <!--Card-1-->
            <div class="card col-12 col-md-6 p-3 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="./public/assets/images/bita-537x376.png" alt="Basic plan" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">Basic</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            This is most basic plan. You will be able to fill up Lawyer's verified Templates. And your WILL be kept on BlockChain Network. And You can view and Modify as you wish. 
                        </p>
                        <!--Btn-->
                        <div class="mbr-section-btn align-left">
                            <a href="../" class="btn btn-warning-outline display-4">
                                $ 17.99
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-2-->
            <div class="card col-12 col-md-6 p-3 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="./public/assets/images/bita-537x376.png" alt="Comprehensive plan" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">Comprehensive</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            On top of the basic paln. You will be able to upload all your Asset information and You are allowed to create multiple SmartContracts (ChainCodes) to perform task.</p>
                        <!--Btn-->
                        <div class="mbr-section-btn align-left">
                            <a href="../" class="btn btn-warning-outline display-4">
                                $ 68.90
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-3-->
            <div class="card col-12 col-md-6 p-3 col-lg-4 last-child">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="../public/assets/images/bita-537x376.png" alt="Customized plan" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">
                            Customized</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            On top of basic plan, you may choose some features that youn would like to add on. You may request for particular Smart Contract (ChainCode).
                        </p>
                        <!--Btn-->
                        <div class="mbr-section-btn align-left">
                            <a href="/index" class="btn btn-warning-outline display-4">
                                $ 39.90 +
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-4-->
            
        </div>
    </div>
</section>
<a class="mbr-section-btn" href="/register"><div class="btn btn-md btn-secondary display-4">Start Creating Your Will Now</div></a>