<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <meta name="description" content="Will and Testament on BlockChain">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"/> 



    <!-- CSS Files Locations Listed below-->
<!-- Form field -->
  <link rel="stylesheet" href="../public/assets/bootstrap/js/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Main CSS Style-->
  <link rel="stylesheet" href="../public/assets/a/style.css">
<!--CSS for parallax and main-->

  <link rel="stylesheet" href="../public/assets/mpara/css/mbr-additional.css" type="text/css">
 <!-- <link rel="stylesheet" type="text/css" href="../public/assets/muzz/Profile.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../fontawesome.min.css">-->
<title>Will and Testament in BlockChain</title>
  </head>
  <body>

        <section class="menu cid-qTkzRZLJNu" id="menu1-0">
    
          <!--TOP NAV-->
      
          <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
              <!--Button of drop down menu-->
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                   <samp class="hamburger">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                  </samp> 
              </button> 
              <!--Logo and Text-->
              <div class="menu-logo">
                  <div class="navbar-brand">
                      <span class="navbar-logo">
                          <a href="../">
                               <img src="../public/assets/images/logo1-100x100.png" alt="logo" style="height: 3.8rem;">
                          </a>
                      </span>
                      <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="../">BlockChainWill</a></span>
                  </div>
              </div>
      
              <!--MENU-->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                      <li class="nav-item"><a class="nav-link link text-white display-4" href="../"><span class="mbrib-home mbr-iconfont mbr-iconfont-btn"></span>
                              Home</a></li>
                      <li class="nav-item"><a class="nav-link link text-white display-4" href="../#services1-f"><span class="mbrib-help mbr-iconfont mbr-iconfont-btn"></span>
                              Services
                          </a></li>
                      <li class="nav-item">
                          <a class="nav-link link text-white display-4" href="../#content10-i">
                              <span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                              About Us
                          </a>
                      </li><li class="nav-item"><a class="nav-link link text-white display-4" href="../#contact"><span class="mobi-mbri mobi-mbri-phone mbr-iconfont mbr-iconfont-btn"></span>
                              Contact Us
                          </a></li>
                      </ul>
                  <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="/users/login"><span class="mobi-mbri mobi-mbri-login mbr-iconfont mbr-iconfont-btn"></span>
                          Login Now &nbsp; &nbsp;</a></div>
              </div>
          </nav>        
      </section>

  <%- body %>



  <section class="cid-qTkAaeaxX5" id="footer1-2">

    

    

    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="#home"></a>
                        <a href="#home"></a><img src="../public/assets/images/logo1-100x100.png" alt="logo" title=""></a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Address
                </h5>
                <p class="mbr-text">175 Kendal Ave.<br>Toronto, Ontario<br>M5R 1M3</p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Contacts
                </h5>
                <p class="mbr-text">
                    Email: muzammil@georgebrown.ca<br>nas@nlmuasys.com</p>
            </div>
           
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2020 BlockChainWill - All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://linkedin.com/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.googleplua.com/" target="_blank">
                                <i class="fa fa-google"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://twitter.com/" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

    <!--<div class="container"></div>-->

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>


    <script src="./public/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="./public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./public/assets/parallax/jarallax.min.js"></script>
    <script src="./public/assets/theme/js/script.js"></script>

  </body>
</html>

